@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #17162E;
    color: white;
}

.main-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;

    max-width: 1220px;
}

.titulo {
    margin: 4rem 0 3rem 0;
    font-weight: 600;
    font-size: 2.25rem;
}

.search-box {
    max-width: 630px;
    width: 100%;
    position: relative;

    padding-bottom: 2rem;
}

.search-box input {
    background-color: #454558;
    border: none;

    font-size: 1.125rem;
    color: white;
    border-radius: 8px;

    width: 100%;
    padding: 1.625rem;
}

.search-box input:focus {
    outline: 2px dashed white;
}

.search-box input::placeholder {
    font-size: 1.125rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
}

.lupa {
    position: absolute;
    cursor: pointer;

    transform: translate(-200%, 100%);
    color: #8A8A8A;
}

.checkbox-favoritos label {
    font-size: 1.125rem;
    font-weight: 600;
}

.checkbox-favoritos {
    padding-bottom: 4rem;
}

/* .checkbox-favoritos input:checked {
    background-color: #17162E;
} */

.showFav {
    padding-left: 10px;
}

.wrapper-cards {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.card {
    width: 100%;
    box-shadow: 0.33px 0.24px 2px 0px #00000007, 1px 1px 4px 0px #0000000C, 3px 2px 7px 0px #00000010, 6px 4px 12px 0px #00000013, 10px 8px 21px 0px #00000016, 16px 12px 34px 0px #0000001A, 23px 17px 53px 0px #0000001F, 32px 24px 79px 0px #00000026;

    background-color: #1D1C3B;
    display: flex;
    align-items: center;
    justify-content: space-around;    gap: 3rem;

    padding: 1.75rem 2.5rem;
}

.fa-solid.fa-star {
    color: #D7A82F;
    padding-right: 12px;
}

.fa-heart {
    color: #BA0707;
    padding-right: 12px;
    font-size: 1.25rem;
}

.card-image {
    width: 139;
    height: 139;
    border-radius: 50%;
    box-shadow: 20px 20px 30px 0px #0000004D;
}

.card-titulo {
    font-size: 1.125rem;
    font-weight: 500;

}

.card-icons {
    display: flex;
    gap: 3rem;
    padding-top: 1.5rem;
}

.card-texto {
    max-width: 55ch;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2;
    color: #ACACAC;
}